.serif_font {
	font-family: "bold-segment";
    src: url(../fonts/bold-segment.ttf);
}   

body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: yellow;
    overflow: hidden;
}
.container{
    aspect-ratio: 176/95;
    background: linear-gradient(to right, rgb(189, 77, 43), rgb(206, 206, 25),green);

}

.timer-shape-cage-border{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    aspect-ratio: 176/95;
    background-color: red;
    clip-path: polygon(2.8% 90.2%, 20.9% 15%, 20.9% 4.8%, 40.1% 4.8%, 41.6% 10.8%, 92.15% 10.8%, 92.15% 60.2%, 20.1% 60.2%, 13.1% 90.2%);

}
.timer-eviroment{
    aspect-ratio: 176/95;
    clip-path: polygon(3% 90%, 21% 15%, 21% 5%, 40% 5%, 41.5% 11%, 92% 11%, 92% 60%, 20% 60%, 13% 90%);
    background-color: black;
}

/*nadips timeru*/

.timer-head{
    margin-left: 21%;
    /*width: 50%;*/
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);*/
    display: flex;
    flex-direction: column;

}
.ATR-japanese{
    font-size: 3.2vw;
    border: 1px;
    margin-top: 2.2%;
    border-style: solid;
    border-color: aqua;
}
.ATR{
    font-size: 1.8vw;
    border-bottom: 0.1pc;
    border-right: 0.1pc;
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: red;
    left: 10%;
}
.addon-timer{
    border: 1px;
    border-style: solid;
    border-color: aqua;
}

/*timer java*/
.timer-java{
    
}
