.serif_font {
	font-family: "bold-segment";
    src: url(../fonts/bold-segment.ttf);
}   

body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: yellow;
    overflow: hidden;
}
.container{
    aspect-ratio: 176/95;
    background: linear-gradient(to right, rgb(189, 77, 43), rgb(206, 206, 25),green);

}

.timer-shape-cage-border{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    aspect-ratio: 176/95;
    background-color: red;
    clip-path: polygon(2.8% 90.2%, 20.9% 15%, 20.9% 4.8%, 37.1% 4.8%, 38.6% 10.8%, 92.15% 10.8%, 92.15% 60.2%, 20.1% 60.2%, 13.1% 90.2%);

}
.timer-eviroment{
    aspect-ratio: 176/95;
    clip-path: polygon(3% 90%, 21% 15%, 21% 5%, 37% 5%, 38.5% 11%, 92% 11%, 92% 60%, 20% 60%, 13% 90%);
    background-color: black;
}

/*nadips timeru*/

.timer-head{
    margin-left: 21%;
    /*width: 50%;*/
    display: grid;
    grid-template-columns: repeat(2, 49%);

}
.ATR-japanese{
    font-size: 4.92vw;
    border-bottom: 1px;
    margin-top: 4.5%;
    border-bottom-style: solid;
    border-bottom-color: red;
    transform: scale(0.55,1);
    margin-left: -29%;
    height: 71.4%;
}
.ATR{
    font-size: 2.5vw;
    border-bottom: 0.1pc;
    border-right: 0.1pc;
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: red;
    padding-top: 15%;
    margin-left: -54%;
    width: 80%;
    height: fit-content;
}
.addon-timer{
    width: 12.7%;
    border-bottom: 0.1pc;
    border-right: 0.1pc;
    border-left: 0.1pc;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-color: red;
    font-size: 2.5vw;
    height: fit-content;
    bottom: 10%;
}

/*timer java*/
.timer-java{
    
}
