.serif_font {
	font-family: "bold-segment";
    src: url(../fonts/bold-segment.ttf);
}   

body {
    width: 100%;
    height: 100%;
    /*background-color: black;*/
    color: yellow;
}
.container{
    aspect-ratio: 176/95;
    /*background: linear-gradient(to right, rgb(189, 77, 43), rgb(206, 206, 25),green);
    */background-color: black;
}

.timer-shape-cage-border{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    aspect-ratio: 176/95;
    background-color: red;
    clip-path: polygon(2.8% 90.2%, 20.9% 15%, 20.9% 4.8%, 40.1% 4.8%, 42.6% 10.8%, 92.15% 10.8%, 92.15% 60.2%, 20.1% 60.2%, 13.1% 90.2%);

}
.timer-eviroment{
    /*margin-top: 5%;*/
    aspect-ratio: 176/95;
    clip-path: polygon(3% 90%, 21% 15%, 21% 5%, 40% 5%, 42.5% 11%, 92% 11%, 92% 60%, 20% 60%, 13% 90%);
    background-color: black;
}
.timer-head{
    margin-left: 21%;
    padding-top: 0%;
    font-size: 75%;
    display: flex;
    align-items: center;
    font-size: 4ch;
}
.ATR{
    margin-left: 5%;
    margin-top: 5%;
}
